@charset "utf-8";
/* CSS Document */

#Encabezado {
	
	Background-Color: Black;
	
}

#Encabezado img {
	
	width: 100%;
    height: auto;
	display: block;

}

#Banner {
	
	width: 100%;
	
}

#TituloPrin {
	
	Color: #FFA424;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	Font-Size: 70px;
}

.Titulos {
	
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 30px;
	color: #F5C299;
	padding-left: 50px;
}

.SubTitulos {
	
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	text-align: center;
	color: #F5C299;
	
}

#Anclas {
	
	background-color: #1D1D1D;
	color: #000000;
	text-shadow: 5px 5px 5px black;
	margin-bottom: 50px;
	
}

#Anclas li {
	
	list-style: none;
	padding: 25px;
	padding-right: 35px;
	display: inline-flex;
	font-size: 18px
}

Body {
	
	margin: 0px;
	background-color: black;
	
}

Body a {

	color: #FF8C31;
	text-shadow: 5px 4px 10px #FF8C31;
	text-decoration: none;
	
}

Nav a {
	
	color: darkgray;
	text-shadow: none;
	font-weight: bold;
	text-decoration: none;
	
}

Nav a:hover {
	
	color: #FF8C31;
	text-shadow: 5px 4px 10px #FF8C31;
	text-decoration: none;
}

#Content { 
	
	background-color: #2c2c2c;
	color: #DDDDDD;
	font-size: 17px;
	overflow: hidden;
	max-width: 100%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


Article {
	
	text-align: justify;
	Padding: 15px;

}


#Art1 p {
	
	margin: 60px;
	
}

#Art1 img {
	
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 35px;
	width: 350px;
	height: 185px;
	display: inline-flex;
}

#Art2 li {

	font-style: oblique;
	font-weight: bold;
	font-size: 20px
}

#Art2 img {
	
	margin-right: 35px;
	float: left;
	margin-top: 20px;
	width: 380px;
	height: 200px;
	display: inline-flex;
	
}


#Art3 p {
	
	margin: 60px;

}

.P-ext {
	
	margin: 60px;

}

#Art3 img {
	
	size: 200px
}

#Art5 .CajaInfo {
	
	background-color: #0B0B0B;
	box-shadow: 5px 5px 5px black;
}

.CajaInfo {
	
	width: 400px;
	padding: 30px;
	background-color: #3B3B3B;
	display: inline-block;
	margin: 75px;
	box-shadow: 5px 5px 5px black;
	border-radius: 10px;
}

.CajaInfo li {
	
	margin-top: 25px;
	list-style: square;
}


.CajaInfo Franja {
	
	margin-bottom: 20px;
}

.Franja {
	
	background-color: #1E1E1E;
	padding: 10px;
	
}

Footer nav li {
	
	padding: 25px;
	display: inline-flex;
	list-style: none;
	color: #FF8318;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-shadow: 5px 5px 5px black;
}

Footer {
		
		background-color: #131313;
}

#navfooter {
	
	background-color: #191919;
	padding-left: 65px;
}

#PagActual {
	
	background-color: #FF8318;
	color: white;
	
}

#NavegacionPags li {
	
	background-color: #0B0B0B;
	margin: 23px;
	padding: 25px;
	display: inline-flex;
	list-style: none;
	color: #000000;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
	
}

#CajaTemasRel {
	
	background-color: #151515;
	
}

#CajaTemasRel img {
	
	margin-top: 20px;
	padding: 10px;
	width: 380px;
	height: 200px;
	transition: transform 0.5s ease;
}

#CajaTemasRel img:hover {

    transform: scale(1.1);
	border-radius: 10px;
}

#CajaTemasRel .CajaInfo {
	
	width: 400px;
	padding: 30px;
	background-color: #3B3B3B;
	display: inline-block;
	margin: 90px;
	box-shadow: 5px 5px 5px black;
	border-radius: 15px;
}

#CajaTemasRel .CajaInfoActual {
	
	width: 400px;
	padding: 30px;
	background-color: #0A0A0A;
	display: inline-block;
	margin: 75px;
	box-shadow: 5px 5px 5px black;
	border-radius: 10px;
}

Video {
	
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.Video {
	
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.nav {
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 25px;
transition: all 0.5s ease;
margin: none;
}

.nav.active {
	background-color: #191919;
	padding: 15px;
}

.nav.active .logo,
.nav.active ul li a{
	color: #FF8C31;
}

.nav.active a:hover{
	background: #FF8C31;
	color: black;
}

.Logo {
font-size: 25px;
color: #000; 
font-weight: 100;
}

.menu{
display: flex;
margin-left:  500px;
}

.menu li{
	list-style: none;	
	margin: 0px;
	margin-left: 60px;
}

.menu li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.5s ease;
}

.menu li a:hover {
	padding: 5px 10px;
	background: #fff;
	color: #000;
	border-radius: 15px;
}

.scroll{
	height: 100px;
}

body::-webkit-scrollbar{
	width: 10px;
}

body::-webkit-scrollbar-thumb{
	background: orange;
	border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover{
	background: #8C36AD;
}


